<div class="card mt-3">
  <div class="card-header">
    <h4 class="mb-0"><%= t "devise.invitations.edit.header" %></h4>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
      <%= render 'shared/errors', resource: resource %>
      <%= f.hidden_field :invitation_token, readonly: true %>

      <% if f.object.class.require_password_on_accepting %>
        <div class="field">
          <%= f.label :password, class: 'form-label' %><br />
          <%= f.password_field :password, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: 'form-label' %><br />
          <%= f.password_field :password_confirmation, class: 'form-control form-control-sm' %>
        </div>
      <% end %>

      <div class="actions mt-3">
        <%= f.submit t("devise.invitations.edit.submit_button"), class: 'btn btn-sm btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
